<!DOCTYPE html>
<head>
	<%- include ('assets') %>
</head>
<html>
	<body>
		<div class="container pt-3">
			<div class="row">
				<div class="col-12">

					<% if (!user) { %>
						<p>Salut! Te rog <a href="/login">intra in cont</a>.</p>
					<% } else { %>
						<p>Salut, <%= user.username %>. Vezi-ti <a href="/profile">profilul</a>.</p>
					<% } %>	
					
				</div>
			</div>			
		</div>		
	</body>
</html>

